.game-div {
    border: 1px solid black;
    width: 20vw;
    min-width: 205px;
    text-align: center;
    margin: 1% auto;
    border-radius: 2vw;
    background-color: lavender;
    font-size: 135%;
}

.top-game-data-div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.symbol-div {
    padding-left: 10%;
}

.top-game-data-div > p {
    padding-left: 25%;
}
