.summary-div {
    /* border: 1px dotted black; */
    padding: 2%;
    text-align: left;
}

.summary-div > h2 {
    padding-left: 0.75%;
}

.summary-table {
    border: 1px solid black;
    border-radius: 0.75vw;
    width: 40vw;
    text-align: center;
    font-size: 125%;
    background-color: lavender;
    padding: 0.25%;
}

.s-th, .s-td {
    border: 1px solid black;
    border-radius: 0.75vw;
}

.s-th, .s-td {
    padding: 3% 2%;
}

.s-th {
    font-weight: 800;
}

@media screen and (max-width: 800px) {
    .summary-table {
        width: 90vw;
        margin: auto;
    }
    .summary-div {
        padding-bottom: 5%;
    }
}
