.league-table {  
    border: 2px solid black; 
    border-radius: 0.35vw;
    width: 95%;
    margin: 2% auto;
}

.league-th {
    border: 1px solid black;
    border-radius: 0.35vw;
    font-size: 170%;
    height: 6vh;
}

.league-heading-tr {
}

@media screen and (max-width: 800px) {
    .league-th {
        font-size: 120%;
    }
}
