.team-select-h1 {
    text-align: center;
    padding-top: 2%;
}

.team-select-form-div {
    /* border: 1px solid black; */
    width: 95vw;
    margin: 1% auto;
    padding: 2%;
}

.team-select-form {
    text-align: center;
    padding: 3%;
    font-size: 175%;
}

.team-select-form > label {
    padding-right: 2%;
}

.team-select-dropdown, option {
    height: 5vh;
    width: 25vw;
    text-align: center;
    font-size: 70%;
}

.team-select-dropdown {
    border: 2.5px solid black;
    border-radius: 0.5vw;
}